.navbar {
  .container-sm {
    padding: 0 15px;
    
    span {
      color: var(--text);
      margin-left: 10px;
      font-size: 1rem;
      font-weight: 400;
    }
    ul {
      flex-direction: row;
      gap: 15px;

      li {
        a {
          color: var(--text);
          font-size: 1rem;
          font-weight: 300;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar {
    padding: 0px 100px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 2000px) {
  .navbar {
    padding: 0px 200px;
  }
}